body {
	background-color: rgb(235,235,235);
}

.main-content{
	min-height: 500px;
	position: relative;
}

.sidebar{
	position: fixed;
    overflow-y: scroll;
    top: 70px;
    right: 0;
    bottom: 0;
    max-width: 33.33%;
	/*position: fixed;
	top: 70px;
	right: -0px;
	margin-bottom: -5000px;  any large number will do 
  	padding-bottom: 5000px; 
	overflow-x: hidden; 
    overflow-y: scroll;
    max-width: 33.33%;*/
}

.checkout{
	position: fixed;
	bottom: 0px;
	height: 80px;
}

.tago{
	display: none;
}

.labas{
	display: block;
}

.page1{
	margin-bottom: 10px;
}
.float-right{
	position: fixed;
	right: 25px;
}